* {
  margin: 10;
  padding: auto;
}
header,
footer,
div,
main {
  display: block;
}
.Header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}
#logo {
  color: #3e3f43;
  font-family: Nunito;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 6px;
  position: absolute;
  margin-top: 20px;

  margin-left: 50px;
  text-decoration: none;
}
.Header_container nav {
  margin-left: 419px;
  margin-top: 20px;
}
.Header_container a {
  color: #612999;
  font-family: Nunito;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 64px;
  text-decoration: none;
}
.Header_container a:hover {
  color: #612999;
  font-family: Nunito;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.Header_container #Home {
  color: #612999;
  font-family: Nunito;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.Header_container img {
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  position: relative;
}
.photo_container {
  width: 100%;
  display: flex;
  margin-right: 32px;
  margin-left: 32px;

  margin: 40px;
}
.photo_container img {
  height: 300px;
  flex-shrink: 0;
  border: 4px solid #e6dbfe;
  margin-right: 32px;
}
.wine_list {
  margin-top: 32px;
  text-align: left;
}
.wine_list h2 {
  width: 275px;
  color: #612999;
  font-family: Rubik;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}
.wine_list ul {
  list-style-type: none;
  padding: 0;
}
.wine_list li {
  color: #000;
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  margin-top: 84px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.wine_list .Rocket_img_container {
  width: 82px;
  height: 82px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #612999;
  margin-right: 16px;
  flex-shrink: 0;
}
.wine_list .Rocket_img_container .rocket_img {
  background-image: url(../images/Grouprocket.png);
  width: 29px;
  height: 42.385px;
  flex-shrink: 0;
}
.form_Free_content {
  position: absolute;
  left: 750px;
  justify-content: space-between;
  border-radius: 5px;
  background: #efecff;
  padding: 20px;
  align-items: center;
}
.form_Free_content h2 {
  width: 275px;
  display: block;
  color: #612999;
  font-family: Rubik;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 100% */
  position: absolute;
margin-bottom: 30px;
  bottom: 230px;
}
label {
  color: #000;
  font-family: Rubik;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 58.333% */
}

input[type="submit"] {
  width: 100%;
  font-size: 22px;
  background: ffffff;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[ type="text"]{
  color: #000;
  font-family: Rubik;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 58.333% */
}
input[value]{
  color: #000;
  font-family: Rubik;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 58.333% */
  opacity: 70%;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 287px;
  background: #efecff;
  box-shadow: 0px 6px 40px rgba(57, 132, 187, 0.05);
  border-top: 1px solid #e5e5e5;
  z-index: -1;
}
.Footer_table {
  display: flex;
  margin-left: 32px;
  margin-top: 32px;
  margin-bottom: 20px;
}
.Footer_table h4 {
  color: #333;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 155.556% */
  text-transform: uppercase;
  margin-bottom: 16px;
  margin-right: 150px;
  font-family: "Nunito";
}
.Footer_table h4:first-child {
  color: #333;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 155.556% */
  text-transform: uppercase;
  margin-bottom: 16px;
  margin-right: 150px;
  margin-left: 32px;
  font-family: "Nunito";
}
.Footer_table ul {
  list-style-type: none;
}
.Footer_table a {
  text-decoration: none;
}

.Footer_table .left_cuolumn ul > li > a {
  color: #333;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  font-family: "Nunito";
}
.Footer_table .Right_cuolumn ul > li > a {
  color: #333;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  font-family: "Nunito";
}

.copy {
  width: 198px;
  height: 18px;
  flex-shrink: 0;
  color: #333;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: absolute;
  bottom: 51px;
  margin-left: 32px;
}
.Icons_row {
  display: flex;
  position: absolute;
  margin-left: 32px;
  bottom: 85px;
  left: 32px;
}

.Icons_row a {
  color: #612999;
  font-size: 24px;
  margin-right: 24px;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
#Twitter_icon {
  width: 24.618px;
  height: 20px;
  flex-shrink: 0;
  background-image: url(../images/Vectortwitter.png);
  fill: #272d4e;
}
#instagram {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  background-image: url(../images/Vectorinsta.png);
  fill: #272d4e;
}
#Facebook_icon {
  width: 19.998px;
  height: 19.878px;
  flex-shrink: 0;
  background-image: url(../images/Vectorfacrbook.png);
  fill: #272d4e;
}
